<head><style>.invisible{
    display: none;}
  </style></head>
  <form style="width:400px; margin:auto" (ngSubmit)="updatecustomer(b)" #b=ngForm id="update">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Name</label>
        <input style="width: 400px; box-shadow:2px 4px black" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="name" ngModel>

      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">email</label>
        <input style="width: 400px; box-shadow:2px 4px black" type="string" class="form-control" id="exampleInputPassword1" name="email" ngModel>
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">ID</label>
        <input style="width: 400px; box-shadow:2px 4px black" type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="id" ngModel>
        
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <form style="width:400px; margin:auto" (ngSubmit)="addcustomer(a)" #a=ngForm id='add' >
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">name</label>
        <input style="width: 400px; box-shadow:2px 4px black" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="name" ngModel>
        
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">id</label>
        <input style="width: 400px; box-shadow:2px 4px black" type="number" class="form-control" id="exampleInputPassword1" name="id" ngModel>
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">email</label>
        <input style="width: 400px; box-shadow:2px 4px black" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" ngModel>
        </div>
      <button type="submit" class="btn btn-primary">add</button>
    </form>
  