<table class="table table-dark">
    <thead>
      <th>id</th>
      <th>id</th>
      <th>id</th>
    </thead>
    <tbody>
        
        <tr *ngFor="let customer of customerList">
            <p *ngIf="customerList.length == 0"> no item to display</p>
            <th scope="row">{{customer.id}}</th>
            <td colspan="2" class="table-active">{{customer.name}}</td>
            <td>{{customer.email}}</td>
            <th><button (click)="update(customer.id)">Update</button></th>
            <th><button (click)="add(-1)">add</button></th>
            <th><button (click)="deleteProduct(customer.id)">delete</button></th>
          </tr>
      
    </tbody>
  </table>